*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    margin: 0 auto;
    max-width:1800px;
    font-size: 0.875rem;
    font-family: "TitilliumWeb-Regular";
    font-weight: 400;
    letter-spacing: 0px;
    color: #959393;
}
a{
    text-decoration: none;
    text-align: left;
    font-size: 0.875rem;
    letter-spacing: 0px;
    color: #777777;
    font-family: "Titillium Web";
    font-weight: 400;
}
.menu-btn {
    margin: 10px;
    display: none;
    position: relative;
    z-index: 3;
}
.menu-btn span,.menu-btn span::before,.menu-btn span::after {
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #222;
}
.menu-btn span::before,.menu-btn span::after {
    content: "";
    display: block;
    transition: 0.2s;
}
.menu-btn span::before {
    transform: translateY(-5px);
}
.menu-btn_active span {
    height: 0;
  }
.menu-btn span::after {
    transform: translateY(5px);
}
.menu-btn_active span:before {
    transform: rotate(-45deg);
    transform-origin: center;
}
.menu-btn_active span:after {
    transform: rotate(45deg);
    transform-origin: center;
}
svg:hover{
    transform: scale(1.4);
}
button:hover{
    transform: scale(1.1);
}
h1{
    font-size: 3.75rem;
    letter-spacing: 1px;
    color: #7a7a7a;
    font-family: "Titillium Web";
    font-weight: 600;
    text-align: center;
    line-height: 90px;
}
h2{
    color:#858688;
    font-size: 2.125rem;
    letter-spacing: 1px;
    font-weight: 700;
}
h3{
    font-size: 1.875rem;
    color: #858688;
    font-family: "Titillium Web";
    font-weight: 700;
}
h4{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5rem;
}
h5{
    font-size: 1.25rem;
}
h6{
    font-size: 1.125rem;
    line-height: 1.4375rem;
    color: #5c5c5c;
    font-weight: 900;
}
span{
    color:#fc5055;
}
.selected{
    text-decoration: underline;
    color: #959595;
}
.underline{
    text-decoration: underline;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 4% 11% 0;
    position: absolute;
    max-width: 1800px;
    width: 100%;
    box-sizing: border-box;
}
.logo{
    display: flex;
    flex-direction: column;
}
.logo-name{
    color:#5b4295;
}
.interface-menu{
    display: flex;
    flex-direction: row;
}
.interface-menu a::after{
    content: "\002f";
    margin-left: 10px;
}
.interface-menu a{
    color:#9c9c9c;
    margin-right: 10px;
}
nav, .sing-in{
    display: flex;
    align-items: center;
}
.nav-item{
    display: flex;
    flex-direction: row;
    margin-right: 60px;
}
ul li{
    list-style: none;
    margin-right: 30px;
}
.sing-in a{
    margin: 0 20px 0 10px;
}
.main-img-section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(assets/background.jpg);
    background-size: cover;
    height: 800px;
    background-repeat: no-repeat;
    width:100vw;
}
.main-text{
    padding-top: 60px;
}
.social-icons{
    position: absolute;
    right: 34px;
    display: flex;
    flex-direction: column;
}
.fa-google-plus-square, .fa-facebook-square, .fa-twitter-square{
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}
.fa-sign-in-alt{
    width: 16px;
    height: 16px;
    margin-right:4px;
    color:#5b4295;
}
section{
    display:flex;
}
button{
    width: 96px;
    height: 42px;
    background-color:#5b4295;
    background: linear-gradient(to bottom right, #582c7e, #5a3b8e, #616bc0, #6276cd);
    opacity: 0.9;
    color: #fff;
    font-size: 1rem;
    border-radius: 30px;
}
.big-button{
    width:260px;
    height:60px;
    font-size:1.1rem;
}
.button-donate{
    width:170px;
    height:60px;
    font-size:18px;
    background-color: #3bb2e2;
    background: linear-gradient(to bottom right, #3bb2e2, #46a1e4, #5786e8, #5e7bea);
}
.button-media-device{
    width:46px;
    height:46px;
    margin-left:20px;
}
.main-button-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}
.fa-apple,.fa-google-play,.fa-cloud-upload-alt,.fa-dollar-sign{
    width:36px;
    height:22px;
}
.fa-cloud-upload-alt,.fa-dollar-sign{
    height:18px;
}
.section-article{
    padding: 110px 250px 110px 310px;
    display: flex;
    flex-direction: column;
}
.img-article{
    float: left;
    position: relative;
    right: 15px;
}
.article-container{
    display: flex;
    justify-content: space-between;
}
article{
    display: flex;
    width:30%;
}
article h3{
    color: #555555;
    font-family: "TitilliumWeb-Regular";
    font-weight: 400;
}
.container-after-article{
    padding-top: 120px;
    width: 64%;
    text-align: end;
    position: relative;
}
.container-after-article::after{
    content:"";
    border-bottom: 1px solid;
    border-color: #b9b9b9;
    position: absolute;
    bottom: 0;
    width: 122%;
    left: -312px;
}
.section-article::after{
    content:"";
    border-right: 1px solid;
    border-color: #b9b9b9;
    position: absolute;
    right: 662px;
    height: 47%;
}
.article-2{
    position: relative;
}
.article-2::before{
    content:"";
    border-left: 1px solid;
    border-color: #b9b9b9;
    position: absolute;
    left: -30px;
    height: 126%;
    top: -120px;
}
.container-after-article h1{
    font-family: "TitilliumWeb-Regular";
    color: #535353;
    font-weight: 400;
    text-align: end;
}
.transparent-button{
    width: 334px;
    height: 62px;
    background-color: #fff;
    background: none;
    color:#858688;
    border: 1px solid #858688;
    position: relative;
    left: 196px;
    top:24px;
}
.label-section{
    display: flex;
    flex-direction: column;
    text-align: end;
}
#triangle-topleft{
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    border-top: 200px solid #ffffff;
    border-right: 100vw solid transparent;
    top: -1px;
}
.device-section{
    display: flex;
    justify-content: center;
    padding: 100px 0 200px 0;
    z-index: 0;
    position: relative;
}
.device-container{
    display: flex;
    flex-direction: column;
    text-align: end;
    width:30%;
    position: relative;
    left: -68px;
    top: 52px;
}
.device-container h3{
    font-family: "TitilliumWeb-Regular";
}
.device-img{
    position: absolute;
    z-index: -1;
    right: 270px;
    top: -115px;
}
.download-button{
    padding-top:30px;
}
.price-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    position: relative;
}
.price-container::before{
    content: "";
    border-top: 1px solid;
    border-color: #b9b9b9;
    width: 80%;
    position: absolute;
    right: 0;
    top: 0;
}
.privacy-button{
    margin-top: 36px;
    display: flex;
    justify-content: center;
}
.price-container h2{
    font-size: 2.25rem;
    letter-spacing: 0px;
    line-height: 30px;
    color: #535353;
    font-family: "TitilliumWeb-Regular";
    font-weight: 400;
}
.price-container h3{
    font-size: 2.25rem;
    letter-spacing: 0px;
    color: #7c7c7c;
    font-family: "TitilliumWeb-Regular";
    font-weight: 400;
}
.section-privacy{
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.section-partners{
    position: relative;
    display: flex;
    text-align: end;
    flex-direction: column;
    padding: 22px 22px 0 0;
    border-top: 1px solid;
    width: 82%;
    border-color: #b9b9b9;
} 
.menu-general{
    padding: 160px 0px 0px 200px;
}
.contact-list{
    display: flex;
    flex-direction: column;
    text-align: start;
    border-left: 1px solid;
    border-color: #b9b9b9;
    padding-left: 20px;
}
.first-menu-section, .second-menu-section{
    display: flex;
    justify-content: space-between;
}
.second-menu-section{
    width:40%;
}
.footer-section{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-right: 20px;
    border-right: 1px solid;
    border-color: #b9b9b9;
}
.section-partners::after{
    content: "";
    border-right: 1px solid;
    border-color: #b9b9b9;
    height: 73%;
    position: absolute;
    right: 0;
    top: 0;
}
.footer-nav{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    margin: 85px 0 30px;
}
.footer-navigation{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    margin: 20px 30px;
}
.icon-corporation::before{
    content: "\00a9";
}
footer{
    display: none;
}
.legal-list, .neutonmail-list{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.menu-general li{
    list-style: disc;
    direction: rtl;
}
.wrapper-background{
    background-color: #efefef;
    background: linear-gradient(to top, #ffffff,#ffffff, #efefef);
}
.wrapper{
    display:flex;
    flex-direction: column;
}
.wrapper-slider {
    margin-top:60px;
    width: 30%;
    padding-left: 350px;
}
.slides {
    opacity: 0;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}
.slides h4{
    font-size: 1.5rem;
    letter-spacing: 0px;
    line-height: 1.9375rem;
    color: #101010;
    font-family: "Malaga-OTCE";
    font-style: italic;
    text-align: left;
    margin-top: 10px;
}
.slides h5{
    font-style: italic;
    margin-top: 10px;
}
#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3{
    opacity: 1;
	transform: scale(1);
}
@font-face {
    font-family: "Titillium Web";
    src: url('assets/fonts/titillium/TitilliumWeb-Bold.ttf');
}
@font-face {
    font-family: "TitilliumWeb-Regular";
    src: url('assets/fonts/titillium/TitilliumWeb-Regular.ttf');
}
@font-face {
    font-family: "Malaga-OTCE";
    src: url('assets/fonts/MalagaOT-RegItalic.otf') format("opentype");
    font-style: italic;
}