body{
    margin: 0 auto;
    background-color: #353333;
    font-family: "Arial", serif;
}
form{
    display: flex;
    justify-content: center;
    margin: 10px 0 40px 0;
}
p{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0;
    justify-content: center;
}
h3{
    margin: 10px 0;
    font-weight: 500;
    font-size: 16px;
}
h4{
    font-style: italic;
    margin: 0;
    padding: 4px;
    font-weight: 400;
    font-size: 14px;
}
.keyword-input{
    width: 70%;
    height: 100%;
    border-radius: 4px;
    background: url(img/icon.png) no-repeat 4px;
    background-size: auto 70%;
    background-color: white;
    padding: 4px 0 4px 40px;
    box-sizing: border-box;
    font-size: 18px;
}
.video-container{
    display: flex;
    margin: 0 0 40px 20px;
    height: 70vh;
}
.wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 20%;
    margin: 0 2%;
    background-color: white;
    border-radius: 6px;
    padding: 6px;
}
img{
    height: 30vh;
}
a{
    
    max-height: 100px;
    overflow: overlay;
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 14%;
    left: 0;
    width: 100%;
    background-color: rgba(45, 99, 49, 0.9);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    font-size: 22px;
    font-family: "Arial", serif;
    font-weight: 700;
}
.slaider{
    display: flex;
    justify-content: center;
}
button{
    border-radius: 50%;
    margin: 2px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
}
.author, .datapub{
    align-items: center;
    display: flex;
}
.author::before{
    content: url(img/men-silhouette.png);
    opacity: 0.6;
    margin: 0 10px;
}
.datapub::before{
    content: url(img/calendar.png);
    opacity: 0.6;
    margin: 0 10px;
}
@media only screen and (max-width:1200px){
    .wrapper{
        width: 33%;
        margin: 0 8%;
    }
    a{
        top: 10%;
        font-size: 22px;
    }
}
@media only screen and (max-width:1000px){
    .wrapper{
        width: 40%;
        margin: 0 4%;
    }
    a{
        top: 10%;
        font-size: 18px;
    }
}
@media only screen and (max-width:500px){
    .wrapper{
        width: 76%;
        margin: 0 10%;
    }
    a{
        top: 10%;
        font-size: 18px;
    }
}