body{
    margin: 0 auto;
}
h1{
    margin: 0;
    font-size: 26px;
    font-family: "Arial", serif;
    font-weight: 400;
}
a{
    margin-right: 15px;
}
p{
    font-size: 20px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}
.nav{
    display: flex;
    align-items: center;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    box-shadow: 0 0 10px darkgrey;
}
main{
    display: flex;
    justify-content: space-between;
    padding: 6% 4%;
}
.tools{
    display: flex;
    width: 30%;
    flex-direction: column;
}
.container-canvas{
    width: 60%;
}
.container-pallete, .container-colors{
    display: flex;
    flex-direction: column;
    padding: 4%;
    border: 2px solid lightgrey;
    border-radius: 10%;
}
.container-pallete{
    margin-bottom: 10%;
}
.choose-color, .prev-color{
    border-bottom: 2px solid lightgrey;
}
button{
    display: flex;
    align-items: center;
    background-color: white;
    border: 0;
}
.img-tools{
    margin-right: 10%;
}
.canvas-items{
    width: 16vw;
    height: 28vh;
    background-color: lightgray;
}
.current-circle, .circle, .prev-circle {
    width: 2vw;
    height: 4vh;
    border-radius: 50%;
    border: 2px solid lightslategrey;
    margin-right: 10%;
}
#red-color{
    background-color: red;
}
#lightblue-color{
    background-color: lightblue;
}
#green-color{
    background-color: lightgreen;
}
#yellow-color{
    background-color: yellow;
}
.current-color, .color-static, .prev-color, .paint-tool, .choose-color, .move, .transform {
    display: flex;
    align-items: center;
    padding-left: 10%;
}