body{
    margin: 0 auto;
}
h1{
    margin: 0;
    font-size: 26px;
    font-family: "Arial", serif;
    font-weight: 400;
}
a{
    margin-right: 15px;
}
p{
    font-size: 18px;
    color: gray;
}
.nav{
    display: flex;
    align-items: center;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    box-shadow: 0 0 10px darkgrey;
}
main{
    display: flex;
    justify-content: space-between;
    padding: 60px 40px;
}
.tools{
    display: flex;
    width: 30%;
    flex-direction: column;
}
.container-canvas{
    width: 60%;
}
.container-pallete, .container-colors{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid lightgrey;
    border-radius: 20px;
}
.container-pallete{
    margin-bottom: 50px;
}
.choose-color, .prev-color{
    border-bottom: 2px solid lightgrey;
}
button{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 0;
}
.img-tools{
    margin: 10px 40px 10px 10px;
}
.canvas-items{
    width: 16vw;
    height: 28vh;
    background-color: #a7a2a2;
}
.current-circle, .circle, .prev-circle {
    width: 20px;
    height: 20px;
    background: #a7a2a2;
    border-radius: 50px;
    border: 2px solid #7e7e7e;
    margin-right: 10px;
}